/* company name:WGBL India pvt ltd author:Sandesh*/
* {
    box-sizing: border-box;
}
.container{
  background-color: white;
  height: 890px;
  width: 100%;
  border:2px solid #9bc8de;
}
.container2{
  height: 650px;
  width: 80%;
  margin-left: 110px;
  text-align: left;
}
.container3{
  height: 300px;
  width: 100%;
  padding-left: 30px;
  border:2px solid skyblue;
}
.col1{
  float: left;
  width: 20%;
  padding: 10px;
  height: 100px;
  border:2px solid skyblue;
}
.col2{
  float: left;
  width: 80%;
  height: 100px;
  border:2px solid skyblue;
}
.col11{
  float: left;
  width: 20%;
  padding: 10px;
  height: 100px;

  margin:20px;
}
.col3{
  float: left;
  width: 100%;
  padding-left: : 10px;
  height: 200px;
  border:2px solid skyblue;
  margin-left: 5px;
}
.col4{
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px;
  border:2px solid skyblue;
}
.col5{
  float: left;
  width: 100%;
  padding: 10px;
  height: 36px;
  border:2px solid skyblue;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
h2{
  margin-top: 1px;
  font family="DejaVu Serif Condensed;
}
.c1{
  margin-top: 20px;
  margin-bottom: 20px;
}
a{
  color: green;
  margin-left: 15px;
}
img{
  height:80px;
  width:80%;
}
#p1{
  width:100%;
  font-style: bold;
}
.overlay{
  position: relative;

}
.overlay2{
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index:1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height: 100%;
}
.text{
  position: absolute;
  z-index:1;
  top: 50%;
  left: 80%;
  bottom: 0;
  color: blue;
  font-style: bold;
}
.overlay img{
  height:150px;
  width:100%;
}