/* company name:WGBL India pvt ltd author:Sandesh*/
* {
    box-sizing: border-box;
}
.row{
  margin-left: 20px;
}
.container{
  background-color: white;
  height: 890px;
  width: 100%;
}
.container3{
  height: 300px;
  width: 100%;
  padding-left: 30px;
}
.col1{
  float: left;
  padding: 10px;
  width: 150px;
  height: auto;
}
.col2{
  float: left;
  width: 80%;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.col11{
  float: left;
  width: 20%;
  padding: 10px;
  height: 100px;
  margin:20px;
  display: inline-block;
  text-align: center;
}
.col3{
  float: left;
  width: 100%;
  padding-left: : 10px;
  height: 200px;
  border:2px solid skyblue;
  margin-left: 5px;
}
.col4{
  float: left;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-top: 100px;
}
.col5{
  float: left;
  width: 100%;
  padding: 10px;
  height: 36px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
h1{
  margin-top:40px;
  color: green;
  font-style: bold;
  font-size: 25px;
  margin-left: 550px;
}
h2{
  margin-top: 1px;
  font-family="DejaVu Serif Condensed";
  text-align: center;
}
.sh{
  font-style: italic;
  color: green;
}
.c1{
  margin-top: 20px;
  margin-bottom: 20px;
}
a{
  font-style: italic;
  margin-left: 15px;
  color: green;
}
img{
  height:80px;
  width:80%;
}
.overlay{
  position: relative;
}
.overlay2{
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height: 100%;
  overflow: auto;
}
.text{
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 0;
  color: green;
  font-style: bold;
}
.overlay img{
  height:250px;
  width:100%;
}
.overlay small{
  color: skyblue;
}
a{
  color: blue;
}
@media (max-width: 460px) {
  .col1{
    width: 80%;
    margin-left: 60px;
  }
  .col2{
    width: 80%;
    margin-left: 30px;
  }
  .col3{
    width: 100%;
  }
  .col11{
    width: 80%;
    margin-left: 10%;
  }
  .overlay img{
    height: 150px;
  }
  .text{
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 0;
    color: green;
    font-style: bold;
  }
  h1{
    margin-top:20px;
    color: green;
    font-style: bold;
    font-size: 25px;
    margin-left: 80px;
  }
  a{
    color: blue;
  }
}
@media (max-width: 920px) and (min-width: 460px) {
  .col1{
    float: left;
    padding: 10px;
    height: 100px;
  }
  .col2{
    float: left;
    width: 70%;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
  }
  .col3{
    width: 100%;
  }
  .col11{
    float: left;
    width: 40%;
    padding: 10px;
    height: 100px;
    margin-left:20px;
  }
  .overlay img{
    height: 150px;
  }
  .text{
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 0;
    color: green;
    font-style: bold;
  }
  h1{
    margin-top:20px;
    color: green;
    font-style: bold;
    font-size: 25px;
    margin-left: 180px;
  }
  a{
    color: blue;
  }
}